<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bug Juice - We all suck sometimes</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>	
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="#" class="header item">
			  <i class="yellow lemon icon"></i>
			</a>
			<a href="/submit" class="item">open report</a>
			<a href="/tickets" class="item">manage tickets</a>
			<a href="/bugs" class="item">solve bugs</a>
			<a href="/solutions" class="item">view solutions</a>

			<!--<a href="/users/logout" class="right item">profile</a>-->
			<a href="/users/logout" class="right item">logout</a>
		</div>
	</div>

	{% block content %}
	{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/checkbox.js"></script>
	{% block scripts %}
	{% endblock %}
</body>

</html>