{% extends "tickets/non_header.html" %}
{% load static %}
{% block content %}

<div
class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
id="content"
>

		<h1 class="ui center aligned inverted header">
			<i class="yellow lemon icon"></i> Bug Juice
		</h1>

		<h2 class="ui center aligned inverted header">Simple progress tracking for teams and their clients.</h2>

		<div class="ui hidden divider"></div>

		<div class="ui inverted center aligned segment sharpbg">

				<div class="ui hidden divider"></div>
					  <div class="ui three column grid">
						<div class="column">
						 
							<img src="{% static 'images/report.svg' %}" width="150em">
							<h1>Report</h1>
						 
						</div>
						<div class="column">
						  
							<img src="{% static 'images/track.svg' %}" width="150em">
							<h1>Track</h1>
						
						</div>
						<div class="column">
						
							<img src="{% static 'images/solve.svg' %}" width="150em">
							<h1>Solve</h1>
						
						</div>
					  </div>
					  <div class="ui hidden divider"></div>
					  <h3>Bug Juice is a simple system for teams and their users to actively track bugs and features.</h3>
					  <div class="ui hidden divider"></div>
				<a href="/users/login" class="ui huge blue inverted button"><i class="plus icon"></i> Sign up and start tracking!</a>	
				<div class="ui hidden divider"></div>			
		</div>

		<div class="ui hidden divider"></div>
			  <div class="ui grid">
				  <div class="center aligned row">
					<div class="eleven wide column">
						<img src="{% static '/images/learn.svg' %}" width="200em">
						<h1 class="ui center aligned inverted header">I made this to learn!</h1>
						
						<div class="ui left aligned inverted segment sharpbg">
							<h2 class="ui header">Step One: Underpants -> Step Three: Profit</h2>
							<p class="ui header">A letter to recuiters, HR, and other engineers.</p>
  							<p>I wish I could remember the creator of the video I watched on YouTube with this advice. It was essentially addressed to 
							   those who are making a career change and would like to what projects might impress a hiring manager.
							  </p>
						</div>


					</div>
					<div class="five wide column">
						<img class="ui medium avatar image" src="{% static '/images/david.jpg' %}">
						<h1 class="ui center aligned inverted header">David Dolan</h1>
						<h4 class="ui center aligned yellow header">Software Engineer | xn</h4>
						<p class="ui inverted header container">Python | AWS | Docker</p>
						<a class="ui label">Github</a> <a class="ui label">Linkedin</a> <a class="ui label">Website</a>
					</div>
				  </div>
				<div class="three wide column"></div>
				<div class="ten wide column">
				  
					<h3 class="ui center aligned inverted header">Hi from Portland OR! <i class='ui red heart icon'></i></h3>
				
				</div>
				<div class="three wide column"></div>
			  </div>
		<div class="ui hidden divider"></div>


</div>

{% endblock %}