{% extends "tickets/non_header.html" %}
{% load static %}
{% block content %}

<div
class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
id="content"
>

		<h1 class="ui center aligned inverted header">
			<i class="yellow lemon icon"></i> Bug Juice
		</h1>

		<h2 class="ui center aligned inverted header">Simple progress tracking for teams and their clients.</h2>

		<div class="ui hidden divider"></div>

		<div class="ui inverted center aligned segment sharpbg">

				<div class="ui hidden divider"></div>
					  <div class="ui three column stackable grid">
						<div class="column">
						 
							<img src="{% static 'images/report.svg' %}" width="150em">
							<h1>Report</h1>
							<p>bugs and features.</p>
						 
						</div>
						<div class="column">
						  
							<img src="{% static 'images/track.svg' %}" width="150em">
							<h1>Track</h1>
							<p>reports as tickets.</p>
						
						</div>
						<div class="column">
						
							<img src="{% static 'images/solve.svg' %}" width="150em">
							<h1>Solve</h1>
							<p>tickets as a team!</p>
						
						</div>
					  </div>
					  <div class="ui hidden divider"></div>
					  <h3>Bug Juice is a simple system for teams and their users to actively track bugs and features.</h3>
					  <div class="ui hidden divider"></div>
				<a href="/users/login" class="ui huge blue inverted button"><i class="plus icon"></i> Sign up and start tracking!</a>	
				<div class="ui hidden divider"></div>			
		</div>
		<div class="ui hidden divider"></div>	
		<div class="ui hidden divider"></div>
			  <div class="ui stackable grid">
				  <div class="center aligned row">
					<div class="eleven wide column">
						<img src="{% static '/images/learn.svg' %}" width="150em">
						<h1 class="ui center aligned inverted header">I made this to learn!</h1>
						
						<div class="ui left aligned inverted segment sharpbg">
							<h2 class="ui header">Step 1: Bug Tracker | Step 3: Job</h2>
							<p class="ui header">A letter to recuiters, HR, and other engineers.</p>
							<p>

								Hi. I'm David, and I made this bug-tracker entirely in Django. It's a work in progress and offered "as is". If you have questions or any inquiries please feel free to email me here.
							
							</p>
							<p>
							
								I'm trying to change careers, so maybe this will resonate with someone hiring, or someone in my position. Maybe this will never be read again and serve as my own lorem ipsum or copypasta. With a general "can do" attitude towards most technology, switching gears from an A/V background into software left me to my devices as an autodidactic learner with questionably undiagnosed ADD. I no doubt began to "running" before I learned to "walk".
							
							</p>
							<p>
							
								Building a bug tracker has been great in identifying knowledge gaps. It's an easy look up to determine what a tracker needs to do and be.
								I found it important that the reports be tracked as tickets, and this would be done as a team.	
							
							</p>
						</div>


					</div>
					<div class="five wide column">
						<img class="ui medium avatar image" src="{% static '/images/david.jpg' %}">
						<h1 class="ui center aligned inverted header">David Dolan</h1>
						<h4 class="ui center aligned yellow header">Software Engineer | xn</h4>

						<a class="ui label">Github</a> <a class="ui label">Linkedin</a> <a class="ui label">Website</a>
					</div>
				  </div>
				<div class="three wide column"></div>
				<div class="ten wide column">
				  
					<h3 class="ui center aligned inverted header">Hi from Portland OR! <i class='ui red heart icon'></i></h3>
				
				</div>
				<div class="three wide column"></div>
			  </div>
		<div class="ui hidden divider"></div>


</div>

{% endblock %}