<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bug Juice - tracking human error</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>	
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="#" class="header item">
			<i class="lemon icon"></i> <i>Bug Juice</i>
			</a>
			<a href="/resume" class="item">tickets</a>
			<a href="/portfolio" class="item">bugs</a>
			<a href="/portfolio" class="item">solutions</a>
			</div>
		</div>
	</div>

	{% block content %}
	{% endblock %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	{% block scripts %}
	{% endblock %}
</body>

</html>