{% extends "tickets/header.html" %}

{% block content %}

<div
class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
id="content"
>
  <div class="row">
    <h1 class="ui huge dividing header">New Ticket</h1>
  </div>
  <div class="ui hidden divider"></div>
  <form id="open_report" action="/submit" method="POST">
  {% csrf_token %}
  <div class="ui form">

    <div class="inline fields">
      <label for="fruit">Type of ticket:</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="report_type" checked="" tabindex="0" class="hidden" value="Bug">
          <label>Bug</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="report_type" tabindex="2" class="hidden" value="Feature">
          <label>Feature</label>
        </div>
      </div>
    </div>

      <div class="field">
        <label>Ticket Name</label>
        <input placeholder="Quirky Bug Nickname Here" type="text" name="name">
      </div>


    
    <div class="field">

      <label>Department</label>
      <select multiple="multiple" size="4" class="ui fluid dropdown" name=department>
              <option value="Database">Database</option>
              <option value="Styling">Styling</option>
              <option value="Front-end">Front-end</option>
              <option value="Back-end">Back-end</option>
      </select>

    </div>

    <div class="field">
      <label>Short Description</label>
      <textarea placeholder="1-2 Sentences" rows="2" name="description"></textarea>
    </div>

    <div class="field">
      <label>Logs</label>
      <textarea placeholder="Crash/error logs" rows="4" name="error_log"></textarea>
    </div>

    <div class="field">
      <label>Initial Note</label>
      <textarea rows="4" name="note"></textarea>
    </div>

    <button class="ui yellow submit button" type="submit">Open a report</button>
    
  </div>
  </form>


</div>

{% endblock %}

{% block scripts %}
<script>
$('.ui.dropdown')
  .dropdown()
;
$('.ui.radio.checkbox')
  .checkbox()
;
</script>
{% endblock %}