{% for report in reports %}

<div class="yellow card">
	<div class="content">
	  <i class="right floated bug icon"></i><i class="right floated">{{ report.id }}</i>
	  <div class="header">
		{{ report.nickname }}
	  </div>
	  <div class="meta">
		{{ report.department }} {{ report.report_type }}
	  </div>
	  <div class="description">
		{{ report.description }}
	  </div>
	  <table class="ui table">
		<tbody>
			<tr>
			  <td>
				<i class="calendar icon"></i>
				{{ report.time_reported }}
			  </td>
			</tr>
			<tr>
			  <td>
				<i class="id badge icon"></i>
				{{ report.reporter }}
			  </td>
			</tr>
		</tbody>
	  </table>
	  <table class="ui table">
		<tbody>
			<tr>
			  <td>
				{% if report.note %}
				<i class="green copy icon"></i><i>Notes</i>
				{% endif %}
				{% if not report.note %}
				<i class="red copy icon"></i><i>Notes</i>
				{% endif %}
			  </td>
			  <td>
				{% if report.error_log %}
				<i class="green archive icon"></i><i>Logs</i>
				{% endif %}
				{% if not report.error_log %}
				<i class="red archive icon"></i><i>Logs</i>
				{% endif %}
			  </td>
			  <td>
				<i class="red folder icon"></i><i>Files</i>
			  </td>
			</tr>
		</tbody>
	  </table>
	</div>
	<div class="extra content">
	  <form method="POST" action='/tickets'>
	  {% csrf_token %}
	  <div class="ui three buttons">
		  
		  <button class="ui yellow button" type="submit" name="manage" value="solve">Close</button>

		  <button class="ui yellow button" type="submit" name="manage" value="review">Review</button>

		  <input hidden="true" name="report_id" value="{{ report.id }}" />
		  <button class="ui yellow button" type="submit" name="manage" value="bug">Bug</button>
	  </div>
	  </form>
	</div>
</div>

{% endfor %}

{% if not reports %}
<div class="card">nothing!</div>


{% endif %}