{% extends "tickets/header.html" %}

{% block content %}

<div
class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
id="content"
>
  <a href="/submit" class="ui labeled icon button">
    <i class="plus icon"></i>
    Start a New Ticket
  </a>
  <div class="ui hidden divider"></div>
    {% if reports %}
    <div class="row">
      <h1 class="ui huge dividing header">Unconfirmed Reports</h1>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui three stackable cards">
      {% for report in reports %}
        {% include "includes/ticket.html" %}
      {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    {% endif %}
    {% if bugs %}
    <div class="row">
      <h1 class="ui huge dividing header">Confirmed as Bugs</h1>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui three stackable cards">
      {% for report in bugs %}
        {% include "includes/ticket.html" %}
      {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    {% endif %}
    {% if features %}
    <div class="row">
      <h1 class="ui huge dividing header">Confirmed as Features</h1>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui three stackable cards">
      {% for report in features %}
        {% include "includes/ticket.html" %}
      {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    {% endif %}
    {% if solutions %}
    <div class="row">
      <h1 class="ui huge dividing header">Solved Reports</h1>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui three stackable cards">
      {% for report in solutions %}
        {% include "includes/ticket.html" %}
      {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>
// Our labels and three data series
var data = {
  series: [
    [5, 4, 3, 7, 5, 10],
  ]
};


// All you need to do is pass your configuration as third parameter to the chart function
new Chartist.Line('.ct-chart', data);
</script>
{% endblock %}