<div
class="three wide tablet only three wide computer only column"
id="sidebar"
>

<div class="ui vertical borderless fluid text menu">

  {% if '/dashboard' in request.META.PATH_INFO or request.META.PATH_INFO == '/submit' or '/report' in request.META.PATH_INFO %}
    <a href="/dashboard" class="{% if request.META.PATH_INFO == '/dashboard' %}active {% endif %}item">Overview</a>
    <a href="/dashboard/tickets" class="{% if request.META.PATH_INFO == '/dashboard/tickets' %}active {% endif %}item">Tickets</a>
    <a href="/dashboard/solutions" class="{% if request.META.PATH_INFO == '/dashboard/solutions' %}active {% endif %}item">Solutions</a>
  {% elif '/users' in request.META.PATH_INFO %}
    <a href="/users/profile" class="{% if request.META.PATH_INFO == '/dashboard' %}active {% endif %}item">View profile</a>
    <a href="/dashboard/tickets" class="{% if request.META.PATH_INFO == '/dashboard/tickets' %}active {% endif %}item">Edit profile</a>
    <div class="ui hidden divider"></div>
    <a href="/dashboard/tickets" class="{% if request.META.PATH_INFO == '/dashboard/tickets' %}active {% endif %}item">Leave Project</a> 
  {% endif %}

</div>

</div>