<div class="yellow card">
	<div class="content">
	  <i class="right floated black {% include 'includes/icon.html' %} icon"></i>
	  <div class="header">
		{{ report.name }}
	  </div>
	  <div class="meta">
		{{ report.department }} {{ report.report_type }}
	  </div>
	  <div class="description">
		{{ report.description }}
	  </div>
	  <table class="ui table">
		<tbody>
			<tr>
			  <td>
				<i class="calendar icon"></i>
				{{ report.created_date }}
			  </td>
			</tr>
			<tr>
			  <td>
				<i class="id badge icon"></i>
				{{ report.author }}
			  </td>
			</tr>
		</tbody>
	  </table>
	  <table class="ui table">
		<tbody>
			<tr>
			  <td>
				{% if report.note %}
				<i class="green copy icon"></i><i>Notes</i>
				{% endif %}
				{% if not report.note %}
				<i class="red copy icon"></i><i>Notes</i>
				{% endif %}
			  </td>
			  <td>
				{% if report.error_log %}
				<i class="green archive icon"></i><i>Logs</i>
				{% endif %}
				{% if not report.error_log %}
				<i class="red archive icon"></i><i>Logs</i>
				{% endif %}
			  </td>
			  <td>
				{% if report.comment_set.values %}
				<i class="green comment icon"></i><i>Comments</i>
				{% endif %}
				{% if not report.comment_set.values %}
				<i class="red comment icon"></i><i>Comments</i>
				{% endif %}
			  </td>
			</tr>
		</tbody>
	  </table>
	</div>
	
	<div class="extra content">
	  {% if not report.solved %}	
	  <form method="POST" action='/reports/manage/{{ report.id }}'>
	  {% csrf_token %}
	  <div class="ui three buttons">
		
		  <button class="ui yellow button" type="submit" name="selection" value="Close">Close</button>

		  <button class="ui yellow button" type="submit" name="selection" value="Review">Review</button>

		  {% if report.confirmed %}
		  <button class="ui green button" type="submit" name="selection" value="Solve">Solve</button>
		  {% else %}
		  <button class="ui yellow button" type="submit" name="selection" value="Confirm">Confirm</button>
		  {% endif %}
	  </div>
	  </form>
	  {% else %}
	  <a class="fluid ui yellow button" href="/reports/{{ report.id }}">Review</a>
	  {% endif %}	  
	</div>

</div>