{% extends "tickets/header.html" %}

{% block content %}
<style type="text/css">
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
</style>

<div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui yellow image header">
        <i class="lemon icon"></i>
        <div class="content">
          Bug Juice
        </div>
      </h2>
      <form class="ui large form" action="/users/login" method="POST">
        {% csrf_token %}
        <div class="ui inverted segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button type="submit" class="ui fluid large yellow submit button">Login</button>
        </div>
  
  
      </form>
      {% block messages %}
      {% endblock %}
  
      <div class="ui black message">
        <a href="#">Sign up</a> and start tracking bugs!
      </div>
    </div>
</div>
{% endblock %}