{% extends "tickets/header.html" %}

{% block content %}

<div
class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
id="content"
>

    <div class="ui segment">
      <div class="ui grid">

        <div class="three wide center aligned column">
          <div class="ui circular image">
            <img src="{{ user.profile.avatar }}"/>
          </div>
          <a>Change Avatar</a>             
        </div>

        <div class="ui form thirteen wide column">
          <div class="field">
            <input type="text" value="{{ user.username }}">
          </div>
          <div class="field">
            <input type="text" placeholder="Name">
          </div>  
          <div class="field">
            <input type="text" placeholder="email">
          </div>                  
        </div>

      </div>      
    </div>


    <div class='ui segment'>
      <div class="ui top attached label">User Feed</div>
      <div class="ui two column stackable grid">
        <div class="column">
          <div class="ui feed">
            {% for event in feed %}
            <div class="event">
              {% if event.text %}
              <div class="label">
                <i class="ui comment icon"></i>
              </div>
              <div class="content">
                <div class="summary">
                  {{ event.text }} on {{ event.report }}
                  {% else %}
                  <div class="label">
                    <i class="ui copy icon"></i>
                  </div>
                  <div class="content">
                    <div class="summary">
                  Opened report {{event.name}}
                  {% endif %}
                </div>
              </div>
            </div> 
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    

</div>

{% endblock %}