{% extends "tickets/non_header.html" %}
{% load static %}
{% block content %}

<div
class="ui container"
id="content"
>

		<h1 class="ui center aligned inverted header">
			<i class="yellow lemon icon"></i> Bug Juice
		</h1>

		<div class="ui hidden divider"></div>

		<div class="ui inverted center aligned very padded segment sharpbg">
		  <h2 class="ui center aligned inverted header">New User! New project?</h2>
				<div class="ui hidden divider"></div>
					  <div class="ui two column stackable grid">
              <div class="column">
                <div onclick="window.location.href = '/users/create';" class="massive fluid ui yellow inverted button">
                  <h1>Create</h1>
                  <p>a new project.</p>
                </div >
              </div>

						  <div class="column">
                <div onclick="window.location.href = '/users/join';" class="massive fluid ui blue inverted button">
							    <h1>Join</h1>
							    <p>an existing project.</p>
						    </div>
						  </div>
					  </div>		
		</div>
		


</div>

{% endblock %}